/* Base Colors */
$nflix-red: rgba(185, 9, 11, 1 );
$nflix-white: rgba(255, 255, 255, 1);
$nflix-blue: rgba(3, 102, 214, 1);
$nflix-gray: rgba(242, 242, 242, 1);
$nflix-gray-2: rgba(193, 193, 193, 1);
$nflix-black: rgba(51, 51, 51, 1);
